.modal {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 3;
	backdrop-filter: blur(4px);
	inset: 0;
	background-color: rgba(var(--light-scheme-color-rgb), 0.9);
	padding: 0 5%;
}

.modal-wrap {
	display: flex;
	position: relative;
	flex: 1 1 100%;
	border: 2px solid var(--light-scheme-color);
	border-radius: 8px;
	background-color: var(--light-scheme-layout-bgc);
	padding: 40px 20px;
	max-height: 75%;
	overflow: hidden;
	color: var(--light-scheme-color);
}

.modal-button {
	position: absolute;
	top: 0;
	right: 0;
}

.close {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504L738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512L828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496L285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512L195.2 285.696a64 64 0 0 1 0-90.496'/%3E%3C/svg%3E");
	width: var(--icon-size-mobile);
	height: var(--icon-size-mobile);
}

.container {
	flex: 1 1 100%;
	overflow: hidden;
}

/* Dark scheme classes */
:global(.dark) .modal-wrap {
	border: 2px solid var(--dark-scheme-color);
	background-color: var(--dark-scheme-input-bgc);
	color: var(--dark-scheme-color);
}

:global(.dark) .modal-input::placeholder {
	color: rgba(var(--dark-scheme-color-rgb), 0.8);
}

/* Pseudo classes */

.modal-button:hover {
	color: var(--light-scheme-color);
}

:global(.dark) .modal-button:hover {
	color: var(--dark-scheme-color-bgc);
}

@media (width >= 440px) {
	.modal-wrap {
		max-width: 90%;
	}
}

@media (width >= 500px) {
	.modal-wrap {
		margin: 0 auto;
		max-width: 80%;
	}
}

@media (width >= 700px) {
	.modal-wrap {
		max-width: 60%;
	}
}

@media (width >= 900px) {
	.modal-wrap {
		max-width: 50%;
	}
}

@media (width >= 1000px) {
	.modal-button {
		color: rgba(var(--light-scheme-color-rgb), 0.6);
	}

	:global(.dark) .modal-button {
		color: rgba(var(--dark-scheme-color-rgb), 0.8);
	}
}

@media (width >= 1200px) {
	.modal-wrap {
		max-width: 40%;
	}
}

@media (width >= 1500px) {
	.modal-wrap {
		max-width: 30%;
	}
}
