.loading {
	display: flex;
	position: absolute;
	row-gap: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	inset: 0;
	color: var(--light-scheme-color);
}

.shadow {
	backdrop-filter: blur(3px);
	background-color: rgba(var(--light-scheme-color-rgb), 0.4);
}

.light {
	color: var(--dark-scheme-color);
}

.dark {
	color: var(--light-scheme-color);
}

.load {
	--size: calc(var(--icon-size-mobile) * 1.5);

	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 4V2A10 10 0 0 0 2 12h2a8 8 0 0 1 8-8'/%3E%3C/svg%3E");
	animation: spin 1s linear infinite;
	width: var(--size);
	height: var(--size);
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

:global(.dark) .loading {
	color: var(--dark-scheme-color);
}

:global(.dark) .shadow {
	backdrop-filter: blur(2px);
	background-color: rgba(var(--light-scheme-color-rgb), 0.7);
}
