.form {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
}

.form-wrap {
	display: flex;
	flex-direction: column;
}

.form-label {
	display: flex;
	row-gap: 15px;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-input {
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}

.form-input-bgc {
	background-color: var(--light-scheme-layout-bgc);
}

.form-input-modal-bgc {
	background-color: var(--light-scheme-main-bgc);
}

.form-input-error {
	border-color: var(--light-scheme-error);
}

.form-message-wrap {
	display: flex;
	column-gap: 5px;
	align-items: center;
	align-self: self-start;
	visibility: hidden;
	opacity: 0;
	color: var(--light-scheme-error);
}

.form-message-active {
	visibility: visible;
	opacity: 1;
}

.form-message {
	flex: 1 1 100%;
}

.alert {
	--size: var(--icon-size-desktop);

	flex: 1 0 auto;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 17q.425 0 .713-.288T13 16t-.288-.712T12 15t-.712.288T11 16t.288.713T12 17m0-4q.425 0 .713-.288T13 12V8q0-.425-.288-.712T12 7t-.712.288T11 8v4q0 .425.288.713T12 13m0 9q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");
	width: var(--size);
	height: var(--size);
}

.form-submit {
	align-self: center;
	transition: transform 0.1s ease;
	cursor: pointer;
	border: 2px solid var(--light-scheme-color);
	border-radius: 5px;
	background-color: var(--light-scheme-highlight);
	width: 100%;
	min-height: 45px;
	color: var(--dark-scheme-color);
}

/* Dark scheme classes */

:global(.dark) .form-input {
	color: var(--dark-scheme-color);
}

:global(.dark) .form-input-bgc {
	background-color: var(--dark-scheme-input-bgc);
}

:global(.dark) .form-input-modal-bgc {
	background-color: rgba(var(--light-scheme-color-rgb), 0.5);
}

:global(.dark) .form-input-error {
	border-color: var(--dark-scheme-error);
}

:global(.dark) .form-message-wrap {
	color: var(--dark-scheme-error);
}

:global(.dark) .form-submit {
	border: 0;
	background-color: var(--light-scheme-success);
	color: var(--dark-scheme-color);
}

/* Pseudo classes */

.form-label:focus-within {
	color: var(--light-scheme-highlight);
	font-weight: bolder;
}

.form-input:focus {
	border-color: var(--light-scheme-highlight);
}

.form-submit:active {
	transform: scale(0.85);
}

:global(.dark) .form-label:focus-within {
	color: var(--dark-scheme-highlight);
}

:global(.dark) .form-input:focus {
	border-color: var(--dark-scheme-highlight);
}

@media (width >= 1000px) {
	.form-label:hover {
		color: var(--light-scheme-highlight);
		font-weight: bolder;
	}

	.form-submit:hover {
		background-color: rgba(var(--light-scheme-highlight-rgb), 0.8);
	}

	:global(.dark) .form-label:hover {
		color: var(--dark-scheme-highlight);
	}

	:global(.dark) .form-submit:hover {
		border: 2px solid var(--dark-scheme-highlight);
		background-color: rgba(var(--light-scheme-success-rgb), 0.8);
	}
}
