.header {
	display: flex;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	box-shadow: 0 5px 5px 1px var(--light-scheme-layout-shadow);
	background-color: var(--light-scheme-layout-bgc);
	padding: 0 10px;
	min-height: var(--mobile-header-height);
	max-height: var(--mobile-header-height);
}

.logo {
	display: flex;
	column-gap: 15px;
	align-items: center;
}

.logo-image {
	border-radius: 100%;
	width: var(--icon-size-mobile);
}

.logo-text {
	font-size: 1rem;
	font-family: 'Roboto Mono', serif;
}

.features {
	display: flex;
	column-gap: 10px;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.feature-item {
	display: flex;
	column-gap: 10px;
	flex: 0 1 auto;
	align-items: center;
	height: 100%;
}

.toggle {
	--toggle-width: 35px;
	--toggle-padding: 2px;
	--toggle-border: 2px;
	--toggle-slide: calc(var(--toggle-width) / 3);

	display: flex;
	column-gap: 5px;
	align-items: center;
}

.toggle-background {
	display: flex;
	position: relative;
	align-items: center;
	border: var(--toggle-border) solid var(--light-scheme-color);
	border-radius: var(--toggle-width);
	background-color: var(--light-scheme-highlight);
	padding: 0 var(--toggle-padding);
	width: calc(var(--toggle-width) + var(--toggle-slide));
	height: calc(
		var(--toggle-width) / 2 +
			calc(var(--toggle-padding) + calc(var(--toggle-border) * 2) + 2px)
	);
}

.toggle-button {
	transform: translateX(0%);
	transition: transform 0.3s ease;
	border: 2px solid var(--light-scheme-color);
	border-radius: 100%;
	background-color: var(--light-scheme-layout-bgc);
	width: calc(var(--toggle-width) / 2);
	height: calc(var(--toggle-width) / 2);
}

.sun {
	--size: var(--icon-size-desktop);

	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5V3m0 18v-2M7.05 7.05L5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636L16.95 7.05M16 12a4 4 0 1 1-8 0a4 4 0 0 1 8 0'/%3E%3C/svg%3E");
	width: var(--size);
	height: var(--size);
}

.moon {
	--size: var(--icon-size-desktop);

	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3zm3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95zm-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31'/%3E%3C/svg%3E");
	width: var(--size);
	height: var(--size);
}

.user {
	--size: var(--icon-size-mobile);

	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='208' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' d='M7 18v-1a5 5 0 0 1 5-5v0a5 5 0 0 1 5 5v1'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 12a3 3 0 1 0 0-6a3 3 0 0 0 0 6'/%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/g%3E%3C/svg%3E");
	width: var(--size);
	height: var(--size);
}

.dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	transform: translateX(100%) scale(0);
	z-index: 2;
	border: 2px solid var(--light-scheme-layout-shadow);
	border-right: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: var(--light-scheme-layout-bgc);
}

.close {
	position: fixed;
	inset: 0;
}

.dropdown-slide-out {
	animation: slide-left-out 0.3s forwards;
}

.dropdown-slide-in {
	animation: slide-left-in 0.3s forwards;
}

@keyframes slide-left-in {
	0% {
		transform: translateX(100%) scale(1);
	}

	100% {
		transform: translateX(0%) scale(1);
	}
}

@keyframes slide-left-out {
	0% {
		transform: translateX(0%) scale(1);
	}

	50% {
		transform: translateX(100%) scale(1);
	}

	100% {
		transform: translateX(100%) scale(0);
	}
}

.dropdown-link,
.dropdown-button {
	display: flex;
	column-gap: 10px;
	align-items: center;
	padding: 10px;
	width: 100%;
	color: inherit;
}

.login {
	--size: var(--icon-size-desktop);

	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 21v-2h7V5h-7V3h7q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm-2-4l-1.375-1.45l2.55-2.55H3v-2h8.175l-2.55-2.55L10 7l5 5z'/%3E%3C/svg%3E");
	width: var(--size);
	height: var(--size);
}

.logout {
	--size: var(--icon-size-desktop);

	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z'/%3E%3C/svg%3E");
	width: var(--size);
	height: var(--size);
}

/* Dark scheme classes */

:global(.dark) .header {
	box-shadow: none;
	border-bottom: 1px solid var(--dark-scheme-color);
	background-color: var(--dark-scheme-layout-bgc);
}

:global(.dark) .toggle-background {
	border-width: 1px;
	border-color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-switch-bgc);
}

:global(.dark) .toggle-button {
	transform: translateX(
		calc(
			100% - calc(var(--toggle-padding) * 2) + var(--toggle-slide) -
				calc(var(--toggle-border) * 2)
		)
	);
	border-width: 1px;
	border-color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-layout-bgc);
}

:global(.dark) .dropdown {
	border-width: 1px;
	border-color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-input-bgc);
}

/* Pseudo classes */

.feature-button:hover {
	background-color: rgba(var(--light-scheme-color-rgb), 0.2);
}

:global(.dark) .feature-button:hover {
	background-color: rgba(var(--dark-scheme-color-rgb), 0.4);
}

.dropdown-link:hover {
	color: var(--light-scheme-highlight);
}

:global(.dark) .dropdown-link:hover {
	color: var(--dark-scheme-highlight);
}

@media (width >= 440px) {
	.header {
		padding: 0 10%;
	}

	.dropdown {
		width: 30%;
	}

	.features {
		column-gap: 30px;
	}
}

@media (width >= 700px) {
	.header {
		position: relative;
		box-shadow: none;
		padding: 0 20px;
	}

	:global(.dark) .header {
		border: 0;
	}

	.dropdown {
		width: 20%;
	}
}

@media (width >= 800px) {
	.features {
		column-gap: 50px;
	}
}

@media (width >= 1000px) {
	.logo-text {
		font-size: 1.5rem;
	}

	.features {
		column-gap: 30px;
	}

	.feature-item {
		cursor: pointer;
	}

	.feature-button {
		padding: 10px;
		height: 100%;
	}
}
