.folder-form-input {
	background-color: var(--light-scheme-main-bgc);
}

:global(.dark) div .folder-form-input {
	background-color: rgba(var(--light-scheme-color-rgb), 0.5);
	color: var(--dark-scheme-color);
}
