.text {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.folder-delete {
	display: flex;
	row-gap: 20px;
	flex-direction: column;
}

.container {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	align-items: center;
}

.name {
	margin: 20px 0;
}

.folder-button-wrap {
	display: flex;
	column-gap: 10px;
	width: 100%;
}

.folder-button {
	cursor: pointer;
	border: 2px solid var(--light-scheme-color);
	border-radius: 5px;
	width: 100%;
	min-height: 45px;
	color: var(--dark-scheme-color);
}

.cancel {
	transition: transform 0.1s ease;
	color: var(--light-scheme-color);
}

.delete {
/* Pseudo classes */

.cancel:active,
.delete:active {
	transform: scale(0.95) translateY(5px);
}

.cancel:hover {
	background-color: rgba(var(--light-scheme-color-rgb), 0.2);
}

.delete:hover {
	background-color: var(--light-scheme-error);
}

:global(.dark) .cancel:hover {
	background-color: rgba(var(--dark-scheme-color-rgb), 0.5);
	color: var(--light-scheme-color);
}

:global(.dark) .delete:hover {
	background-color: var(--light-scheme-error);
}
